<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
	<select id="selectByUserId" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM USER_LOCAL
        WHERE USER_ID = #{userId}
    </select>

	<select id="selectUserByUserNo" parameterType="long" resultType="com.kh.investSpring.domain.user.vo.User">
        SELECT
            USER_NO AS userNo,
            USER_NAME AS userName,
            EMAIL AS email,
            PHONE AS phone,
            PROVIDER AS provider,
            AUTH AS auth
        FROM USERS
        WHERE USER_NO = #{userNo}
          AND NVL(STATUS, 'ACTIVE') = 'ACTIVE'
          AND DELETE_AT IS NULL
    </select>
    
	<insert id="insertUser" parameterType="com.kh.investSpring.domain.user.vo.User">
        <selectKey keyProperty="userNo" resultType="int" order="BEFORE">
            SELECT SEQ_USERS_NO.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO USERS (
            USER_NO,
            USER_NAME,
            PROVIDER,
            CREATED_AT,
            STATUS,
            AUTH
        ) VALUES (
            #{userNo},
            #{userName},
            'LOCAL',
            SYSDATE,
            'ACTIVE',
            2
        )
    </insert>

    <insert id="insertLocalUser" parameterType="com.kh.investSpring.domain.user.vo.LocalUser">
        INSERT INTO USER_LOCAL (
            USER_NO,
            USER_ID,
            PASSWORD
        ) VALUES (
            #{userNo},
            #{userId},
            #{password}
        )
    </insert>
</mapper>