<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ai">
	<select id="getUnAnalyzedNews" resultType="NewsAnalysisTargetDto">
        SELECT *
        FROM (SELECT
	            ni.news_info_id AS newsInfoId,
	            ni.news_title AS title,
	            ni.news_description AS description
	        FROM news_info ni
	
	        LEFT JOIN news_analysis na
	            ON ni.news_info_id = na.news_info_id
	
	        WHERE na.news_info_id IS NULL
	        ORDER BY ni.published_at DESC)
        WHERE ROWNUM <![CDATA[ <= ]]> 100
    </select>
    
    <insert id="insertNewsAnalysis" parameterType="NewsAnalysisDto">
	    INSERT INTO news_analysis (
	        news_info_id,
	        sentiment,
	        score,
	        ai_summary,
	        analyzed_at
	    )
	    VALUES (
	        #{newsInfoId},
	        #{sentiment},
	        #{score},
	        #{aiSummary},
	        SYSDATE
	    )
	</insert>
	
	<select id="getStockNewsAnalysisTargets" resultType="StockNewsAnalysisDto">
	    SELECT *
	    FROM (
	        SELECT
	            ns.stock_code        AS stockCode,
	            s.stock_name         AS stockName,
	            ni.news_info_id      AS newsInfoId,
	            ni.news_title        AS title,
	            ni.news_description  AS description,
	            na.sentiment         AS sentiment,
	            na.score             AS score,
	            ROW_NUMBER() OVER (
	                PARTITION BY ns.stock_code
	                ORDER BY ni.published_at DESC
	            ) rn
	        FROM news_info_stock ns
	
	        JOIN news_info ni
	            ON ns.news_info_id = ni.news_info_id
	        JOIN news_analysis na
	            ON ni.news_info_id = na.news_info_id
	        JOIN stocks s
	            ON ns.stock_code = s.stock_code
	    )
	    WHERE rn <![CDATA[ <= ]]> 3
	</select>
	
	<insert id="mergeStockAiSummary" parameterType="StockAiSummaryDto">
	    MERGE INTO stock_ai_summary sas
	    USING dual
	    ON (sas.stock_code = #{stockCode})
	
	    WHEN MATCHED THEN
	        UPDATE SET
	            sentiment = #{sentiment},
	            summary = #{summary},
	            score = #{score},
	            updated_at = SYSDATE
	
	    WHEN NOT MATCHED THEN
	        INSERT (
	            stock_code,
	            sentiment,
	            summary,
	            score,
	            updated_at
	        )
	        VALUES (
	            #{stockCode},
	            #{sentiment},
	            #{summary},
	            #{score},
	            SYSDATE
	        )
	</insert>
	
    <!-- AI 리포트 생성 대상 -->
    <select id="getReportTargets" resultType="StockReportRequestDto">
        SELECT *
        FROM (SELECT 
	            s.stock_code                         AS stockCode,
	            s.stock_name                         AS stockName,
	            s.sector                             AS sector,
	            s.market_type                        AS marketType,
	            ci.issued_stock                      AS issuedStock,
	            ci.declined_stock                    AS declinedStock,
	            ci.treasury_stock                    AS treasuryStock,
	            ci.outstanding_shares                AS outstandingShares,
	            ci.minority_shareholder_ratio        AS minorityShareholderRatio,
	            ci.minority_ownership_ratio          AS minorityOwnershipRatio
	        FROM stocks s
	
	        LEFT JOIN co_information ci
	            ON s.stock_code = ci.stock_code
	        LEFT JOIN stock_ai_report sar
	            ON s.stock_code = sar.stock_code
	
	        WHERE s.status = 'ACTIVE'
	        AND (
	            sar.updated_at IS NULL
	            OR sar.updated_at <![CDATA[ < ]]> SYSDATE - 1
	        ))
        WHERE ROWNUM <![CDATA[ <= ]]> 20
    </select>

    <!-- 최근 뉴스 -->
    <select id="getRecentNews" parameterType="string" resultType="string">
        SELECT title
        FROM (
            SELECT
                n.news_title AS title
            FROM news_info n
            
	        LEFT JOIN news_info_stock ns
	            ON n.news_info_id = ns.news_info_id
	            
            WHERE ns.stock_code = #{stockCode}
            ORDER BY n.published_at DESC
        )
        WHERE ROWNUM <![CDATA[ <= ]]> 3
    </select>

    <!-- AI 리포트 저장 -->
    <insert id="upsertStockReport">
        MERGE INTO stock_ai_report target

        USING (
            SELECT
                #{stockCode}            AS stock_code,
                #{investmentOpinion}    AS investment_opinion,
                #{confidenceScore}      AS confidence_score,
                #{summary}              AS summary,
                #{riskFactors}          AS risk_factors,
                #{positiveFactors}      AS positive_factors,
                #{aiSignal}             AS ai_signal
            FROM dual
        ) source

        ON (
            target.stock_code = source.stock_code
        )

        WHEN MATCHED THEN
            UPDATE SET
                investment_opinion = source.investment_opinion,
                confidence_score = source.confidence_score,
                summary = source.summary,
                risk_factors = source.risk_factors,
                positive_factors = source.positive_factors,
                ai_signal = source.ai_signal,
                updated_at = SYSDATE

        WHEN NOT MATCHED THEN
            INSERT (
                stock_code,
                investment_opinion,
                confidence_score,
                summary,
                risk_factors,
                positive_factors,
                ai_signal,
                updated_at
            )
            VALUES (
                source.stock_code,
                source.investment_opinion,
                source.confidence_score,
                source.summary,
                source.risk_factors,
                source.positive_factors,
                source.ai_signal,
                SYSDATE
            )
    </insert>
    
	<select id="selectStockReport" parameterType="string" resultType="StockAiReportDto">
	    SELECT
	        stock_code,
	        investment_opinion,
	        confidence_score,
	        summary,
	        risk_factors,
	        positive_factors,
	        ai_signal,
	        updated_at
	    FROM stock_ai_report
	    WHERE stock_code = #{stockCode}
	</select>
	
	<resultMap id="userAiProfileMap" type="UserAiProfileDto">
	    <id property="userNo" column="user_no"/>
	    <result property="surveyType" column="survey_type"/>
	    <result property="actualInvestmentType" column="actual_investment_type"/>
    	<result property="portfolioRiskAnalysisJson" column="portfolio_risk_analysis"/>
    	<result property="aiRecommendationsJson" column="ai_recommendations"/>
	    <result property="createdAt" column="created_at"/>
	    <result property="updatedAt" column="updated_at"/>
	</resultMap>
	
	<select id="findUserAiProfile" parameterType="long" resultMap="userAiProfileMap">
	    SELECT
	        user_no,
	        survey_type,
	        actual_investment_type,
	        portfolio_risk_analysis,
	        ai_recommendations,
	        created_at,
	        updated_at
	    FROM user_ai_profile
	    WHERE user_no = #{userNo}
	</select>
	
	<insert id="insertUserAiProfile">
	    INSERT INTO user_ai_profile (
	        user_no,
	        survey_type,
	        actual_investment_type,
	        portfolio_risk_analysis,
	        ai_recommendations,
	        created_at,
	        updated_at
	    ) VALUES (
	        #{userNo},
	        #{surveyType},
	        #{actualInvestmentType},
	        #{portfolioRiskAnalysisJson},
	        #{aiRecommendationsJson},
	        SYSDATE,
	        SYSDATE
	    )
	</insert>
	
	<update id="updateUserAiProfile">
	    UPDATE user_ai_profile
	    SET
	        survey_type = #{surveyType},
	        actual_investment_type = #{actualInvestmentType},
	        portfolio_risk_analysis = #{portfolioRiskAnalysisJson},
	        ai_recommendations = #{aiRecommendationsJson},
	        updated_at = SYSDATE
	    WHERE user_no = #{userNo}
	</update>
	
	<select id="existsUserAiProfile" parameterType="long" resultType="int">
	    SELECT COUNT(*)
	    FROM user_ai_profile
	    WHERE user_no = #{userNo}
	</select>
	
</mapper>