<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="watchlist">
	<select id="countWatchlist" resultType="int">
	    SELECT COUNT(*)
	    FROM watchlist
	    WHERE user_no = #{userNo}
	</select>
    <!-- 관심종목 추가 -->
    <insert id="insertWatchlist">
        INSERT INTO watchlist
        (
            user_no,
            stock_code
        )
        VALUES
        (
            #{userNo},
            #{stockCode}
        )
    </insert>

    <!-- 관심종목 삭제 -->
    <delete id="deleteWatchlist">
        DELETE FROM watchlist
        WHERE user_no = #{userNo}
        AND stock_code = #{stockCode}
    </delete>

    <!-- 관심종목 조회 -->
    <select id="getWatchlist" resultType="String">
        SELECT stock_code
        FROM watchlist
        WHERE user_no = #{userNo}
    </select>
	
	<!-- 비로그인 or 관심종목 없음 -->
	<select id="getTopCurrentPriceStocks" resultType="SidebarWatchDto">
	    SELECT *
	    FROM (
	        SELECT
	            s.stock_code AS stockCode,
	            s.stock_name AS stockName,
	            r.current_price AS currentPrice,
	            r.change_rate AS changeRate,
	            r.volume AS volume,
	            NVL(r.current_price * r.volume, 0) AS tradingValue
	        FROM stocks s
	        JOIN stock_realtime_current r
	          ON s.stock_code = r.stock_code
	
	        WHERE s.status = 'ACTIVE'
	        ORDER BY r.current_price DESC
	    )
	    WHERE ROWNUM <![CDATA[ <= ]]> 10
	</select>
	
	<!-- 관심종목 존재 -->
	<select id="getSidebarWatchStocks" parameterType="long" resultType="SidebarWatchDto">
	    SELECT
	        s.stock_code AS stockCode,
	        s.stock_name AS stockName,
	        r.current_price AS currentPrice,
	        r.change_rate AS changeRate,
	        r.volume AS volume,
	        NVL(r.current_price * r.volume, 0) AS tradingValue
	    FROM watchlist w
	
	    JOIN stocks s
	      ON w.stock_code = s.stock_code
	
	    JOIN stock_realtime_current r
	      ON s.stock_code = r.stock_code
	
	    WHERE w.user_no = #{userNo}
	    AND s.status = 'ACTIVE'
	    
	    ORDER BY s.stock_name
	</select>
	
	<select id="getRealtimeStocks" resultType="SidebarWatchDto">
	    SELECT *
	    FROM (
	        SELECT
	            s.stock_code AS stockCode,
	            s.stock_name AS stockName,
	            r.current_price AS currentPrice,
	            r.change_rate AS changeRate,
	            r.volume AS volume,
	            NVL(r.current_price * r.volume, 0) AS tradingValue
	        FROM stocks s
	
	        JOIN stock_realtime_current r
	          ON s.stock_code = r.stock_code
	
	        WHERE s.status = 'ACTIVE'
	
	        ORDER BY r.change_rate DESC
	    )
	    WHERE ROWNUM <![CDATA[ <= ]]> 10
	</select>
	
	<select id="getRecentViews" parameterType="long" resultType="RecentViewDto">
	    SELECT
	        s.stock_code AS stockCode,
	        s.stock_name AS stockName,
	        r.current_price AS currentPrice,
	        r.change_rate AS changeRate,
	        r.volume AS volume,
	        NVL(r.current_price * r.volume, 0) AS tradingValue
	    FROM recent_view rv
	
	    JOIN stocks s
	      ON rv.stock_code = s.stock_code
	
	    JOIN stock_realtime_current r
	      ON s.stock_code = r.stock_code
	
	    WHERE rv.user_no = #{userNo}
	    AND s.status = 'ACTIVE'
	
	    ORDER BY rv.viewed_at DESC
	</select>
	
</mapper>