<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="watchlist">
    <!-- 관심종목 추가 -->
    <insert id="insertWatchlist">
        INSERT INTO watchlist
        (
            user_no,
            stock_code
        )
        VALUES
        (
            #{userNo},
            #{stockCode}
        )
    </insert>

    <!-- 관심종목 삭제 -->
    <delete id="deleteWatchlist">
        DELETE FROM watchlist
        WHERE user_no = #{userNo}
        AND stock_code = #{stockCode}
    </delete>

    <!-- 관심종목 조회 -->
    <select id="getWatchlist" resultType="String">
        SELECT stock_code
        FROM watchlist
        WHERE user_no = #{userNo}
    </select>
    
	<select id="existsWatchlist" resultType="int">
	    SELECT COUNT(*)
	    FROM watchlist
	    WHERE user_no = #{userNo}
	    AND stock_code = #{stockCode}
	</select>
	
	<select id="getTopCurrentPriceStocks" resultType="SidebarWatchDto">
	    SELECT 
		    stockCode,
	        stockName,
	        currentPrice,
	        changeRate,
	        volume,
	        tradingValue
	    FROM (
	        SELECT
	            stock_code     AS stockCode,
	            stock_name     AS stockName,
	            current_price  AS currentPrice,
	            change_rate    AS changeRate,
	            volume,
	            trading_value  AS tradingValue
	        FROM stock_realtime_current
	        ORDER BY current_price DESC
	    )
	    WHERE ROWNUM <![CDATA[ <= ]]> 10
	</select>
	
	<select id="getSidebarWatchStocks" parameterType="long" resultType="SidebarWatchDto">
	    SELECT
	        s.stock_code     AS stockCode,
	        s.stock_name     AS stockName,
	        s.current_price  AS currentPrice,
	        s.change_rate    AS changeRate,
	        s.volume,
	        s.trading_value  AS tradingValue
	    FROM watchlist w
	    JOIN stock_realtime_current s
	      ON w.stock_code = s.stock_code
	    WHERE w.user_no = #{userNo}
	    ORDER BY w.created_at DESC
	</select>
	
</mapper>