<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="api">

    <!-- 실시간 체결 데이터 배치 INSERT -->
    <insert id="batchInsertTick" parameterType="list">
        INSERT INTO STOCK_REALTIME_TICK (
            TICK_ID,
            STOCK_CODE,
            CURRENT_PRICE,
            CHANGE_RATE,
            VOLUME,
            TRADE_TIME
        )
        SELECT
            SEQ_STOCK_REALTIME_TICK.NEXTVAL,
            A.STOCK_CODE,
            A.CURRENT_PRICE,
            A.CHANGE_RATE,
            A.VOLUME,
            A.TRADE_TIME
        FROM (
            <foreach collection="list"
                     item="item"
                     separator="UNION ALL">

                SELECT
                    #{item.stockCode}    AS STOCK_CODE,
                    #{item.currentPrice} AS CURRENT_PRICE,
                    #{item.changeRate}   AS CHANGE_RATE,
                    #{item.volume}       AS VOLUME,
                    #{item.tradeTime}    AS TRADE_TIME
                FROM DUAL

            </foreach>
        ) A
    </insert>


    <!-- 기업코드 MERGE -->
	<update id="mergeCorpCodes" parameterType="DartCorpCodeDto">
	    MERGE INTO CO_INFORMATION c
	    USING (
	
	        SELECT
	            #{stockCode} AS STOCK_CODE,
	            #{corpCode}  AS CORP_CODE,
	            #{corpName}  AS CO_NAME
	        FROM DUAL
	
	        WHERE EXISTS (
	            SELECT 1
	            FROM STOCKS s
	            WHERE s.STOCK_CODE = #{stockCode}
	        )
	
	    ) s
	
	    ON (
	        c.STOCK_CODE = s.STOCK_CODE
	    )
	
	    WHEN MATCHED THEN
	        UPDATE SET
	            c.CORP_CODE  = s.CORP_CODE,
			    c.CO_NAME    = s.CO_NAME
	    WHEN NOT MATCHED THEN
	        INSERT (
	            CORP_CODE,
	            STOCK_CODE,
				CO_NAME
	        )
	        VALUES (
	            s.CORP_CODE,
	            s.STOCK_CODE,
				s.CO_NAME
	        )
	</update>
	
	<select id="selectCorpCodes" resultType="map">
	    SELECT
	        CORP_CODE,
	        STOCK_CODE
	    FROM CO_INFORMATION
	    WHERE CORP_CODE IS NOT NULL
	      AND STOCK_CODE IS NOT NULL
	</select>
	
	<update id="updateStockTotals" parameterType="StockTotalQuantityDto">
	    UPDATE CO_INFORMATION
	       SET ISSUED_STOCK      = #{issuedStock},
	           DECLINED_STOCK    = #{declinedStock},
	           TREASURY_STOCK    = #{treasuryStock},
			   OUTSTANDING_SHARES = #{outstandingShares}
	     WHERE STOCK_CODE = #{stockCode}
	</update>
	
	<update id="updateMinorityShareholder" parameterType="MinorityShareholderDto">
	    UPDATE CO_INFORMATION
	    SET
	        MINORITY_SHAREHOLDER_RATIO = #{minorityShareholderRatio},
			MINORITY_OWNERSHIP_RATIO   = #{minorityOwnershipRatio}
	    WHERE STOCK_CODE = #{stockCode}
	</update>
	
	    <select id="selectStaticProfileByStockCode" parameterType="string" resultType="map">
        SELECT
            s.STOCK_CODE AS stockCode,
            s.STOCK_NAME AS stockName,
            s.MARKET_TYPE AS marketType,
            s.SECTOR AS sector,
            TO_CHAR(s.LISTED_DATE, 'YYYY-MM-DD') AS listedDate,
            s.STATUS AS status,
            c.CORP_CODE AS corpCode,
            c.CO_NAME AS coName,
            c.ISSUED_STOCK AS issuedStock,
            c.DECLINED_STOCK AS declinedStock,
            c.TREASURY_STOCK AS treasuryStock,
            c.OUTSTANDING_SHARES AS outstandingShares,
            c.MINORITY_SHAREHOLDER_RATIO AS shareholdingRatio,
            c.MINORITY_OWNERSHIP_RATIO AS ownershipPercentage
        FROM STOCKS s
        LEFT JOIN CO_INFORMATION c
            ON c.STOCK_CODE = s.STOCK_CODE
        WHERE s.STOCK_CODE = #{stockCode}
    </select>
	
	<select id="selectAllStockCodes" resultType="String">
	    SELECT STOCK_CODE
	    FROM STOCKS
	    WHERE STOCK_CODE IS NOT NULL
	    ORDER BY STOCK_CODE
	</select>
	
	<select id="selectHistoryByRange" resultType="com.kh.investSpring.api.kis.dto.StockHistoryCacheDto">
	    SELECT
	        HISTORY_ID AS historyId,
	        STOCK_CODE AS stockCode,
	        PERIOD_TYPE AS periodType,
	        BASE_DATE AS baseDate,
	        OPEN_PRICE AS openPrice,
	        HIGH_PRICE AS highPrice,
	        LOW_PRICE AS lowPrice,
	        CLOSE_PRICE AS closePrice,
	        VOLUME AS volume,
	        CHANGE_PRICE AS changePrice,
	        CHANGE_RATE AS changeRate
	    FROM STOCK_HISTORY_CACHE
	    WHERE STOCK_CODE = #{stockCode}
	      AND PERIOD_TYPE = #{periodType}
	      AND BASE_DATE BETWEEN #{fromDate} AND #{toDate}
	    ORDER BY BASE_DATE ASC
	</select>

	<insert id="mergeHistory">
	    MERGE INTO STOCK_HISTORY_CACHE t
	    USING (
	        SELECT
	            #{stockCode}  AS STOCK_CODE,
	            #{periodType} AS PERIOD_TYPE,
	            #{baseDate}   AS BASE_DATE
	        FROM dual
	    ) s
	    ON (
	        t.STOCK_CODE  = s.STOCK_CODE
	        AND t.PERIOD_TYPE = s.PERIOD_TYPE
	        AND t.BASE_DATE = s.BASE_DATE
	    )
	
	    WHEN MATCHED THEN
	    UPDATE SET
	        OPEN_PRICE  = #{openPrice},
	        HIGH_PRICE  = #{highPrice},
	        LOW_PRICE   = #{lowPrice},
	        CLOSE_PRICE = #{closePrice},
	        VOLUME      = #{volume},
	        CHANGE_PRICE = #{changePrice},
	        CHANGE_RATE = #{changeRate}
	
	    WHEN NOT MATCHED THEN
	    INSERT (
	        HISTORY_ID,
	        STOCK_CODE,
	        PERIOD_TYPE,
	        BASE_DATE,
	        OPEN_PRICE,
	        HIGH_PRICE,
	        LOW_PRICE,
	        CLOSE_PRICE,
	        VOLUME,
	        CHANGE_PRICE,
	        CHANGE_RATE
	    )
	    VALUES (
	        SEQ_STOCK_HISTORY_CACHE.NEXTVAL,
	        #{stockCode},
	        #{periodType},
	        #{baseDate},
	        #{openPrice},
	        #{highPrice},
	        #{lowPrice},
	        #{closePrice},
	        #{volume},
	        #{changePrice},
	        #{changeRate}
	    )
	</insert>
	
	<update id="updateRealtimeCurrent">
	    UPDATE stock_realtime_current
	    SET
	        current_price = #{currentPrice},
	        change_rate = #{changeRate},
	        volume = #{volume},
	        updated_at = #{tradeTime}
	    WHERE stock_code = #{stockCode}
	</update>
	
	<insert id="insertRealtimeCurrent">
	    INSERT INTO stock_realtime_current (
	        stock_code,
	        current_price,
	        change_rate,
	        volume,
	        updated_at
	    )
	    VALUES (
	        #{stockCode},
	        #{currentPrice},
	        #{changeRate},
	        #{volume},
	        #{tradeTime}
	    )
	</insert>
	
	<delete id="deleteOldTicks">
		DELETE FROM stock_realtime_tick
		WHERE trade_time <![CDATA[ < ]]> TRUNC(SYSDATE)
	</delete>
	
	<update id="mergeFetchState">
	    MERGE INTO FETCH_STATE t
	    USING (
	        SELECT
	            'HISTORY' AS FETCH_TYPE,
	            #{stockCode} AS LAST_STOCK_CODE,
	            #{periodType} AS LAST_PERIOD_TYPE
	        FROM dual
	    ) s
	    ON (
	        t.FETCH_TYPE = s.FETCH_TYPE
	    )
	
	    WHEN MATCHED THEN
	    UPDATE SET
	        LAST_STOCK_CODE = s.LAST_STOCK_CODE,
	        LAST_PERIOD_TYPE = s.LAST_PERIOD_TYPE,
	        UPDATED_AT = SYSTIMESTAMP
	
	    WHEN NOT MATCHED THEN
	    INSERT (
	        FETCH_TYPE,
	        LAST_STOCK_CODE,
	        LAST_PERIOD_TYPE,
	        UPDATED_AT
	    )
	    VALUES (
	        s.FETCH_TYPE,
	        s.LAST_STOCK_CODE,
	        s.LAST_PERIOD_TYPE,
	        SYSTIMESTAMP
	    )
	</update>
	
	<select id="selectFetchState" resultType="map">
	    SELECT
	        LAST_STOCK_CODE,
	        LAST_PERIOD_TYPE
	    FROM FETCH_STATE
	    WHERE FETCH_TYPE = 'HISTORY'
	</select>
	
	<delete id="clearFetchState">
	    DELETE FROM FETCH_STATE
	    WHERE FETCH_TYPE = 'HISTORY'
	</delete>

</mapper>