<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="api">
    <insert id="batchInsertTick" parameterType="java.util.List">
        INSERT INTO STOCK_REALTIME_TICK (
            TICK_ID,
            STOCK_CODE,
            CURRENT_PRICE,
            CHANGE_RATE,
            VOLUME,
            TRADE_TIME
        )
        SELECT SEQ_STOCK_REALTIME_TICK.NEXTVAL, A.* FROM (
            <foreach collection="list" item="item" separator="UNION ALL">
                SELECT 
                    #{item.stockCode} as STOCK_CODE,
                    #{item.currentPrice} as CURRENT_PRICE,
                    #{item.changeRate} as CHANGE_RATE,
                    #{item.volume} as VOLUME,
                    #{item.tradeTime} as TRADE_TIME
                FROM DUAL
            </foreach>
        ) A
    </insert>
</mapper>